In [79]:

students=[
    {'id':'DBU1500001','name':'Dawit','dept':'DS','cgpa':3.34},
    {'id':'DBU1500009','name':'Binyam','dept':'CS','cgpa':3.67},
    {'id':'DBU1500003','name':'abebaw','dept':'DS','cgpa':2.74},
    {'id':'DBU1500004','name':'Rahel','dept':'CS','cgpa':3.10},
    {'id':'DBU1500007','name':'Mestawet','dept':'CS','cgpa':3.45},
    {'id':'DBU1500002','name':'Abrham','dept':'CS','cgpa':3.12},
    {'id':'DBU1500006','name':'Selam','dept':'DS','cgpa':3.90},
    {'id':'DBU1500010','name':'hirut','dept':'DS','cgpa':3.25},
    {'id':'DBU1500008','name':'Hana','dept':'DS','cgpa':2.88},
    {'id':'DBU1500005','name':'wende','dept':'DS','cgpa':3.34},
    {'id':'DBU1500011','name':'bereket','dept':'DS','cgpa':3.9},
    {'id':'DBU1500016','name':'surafel','dept':'DS','cgpa':2.9},
    {'id':'DBU1500013','name':'youlian','dept':'CS','cgpa':3.8},
    {'id':'DBU1500012','name':'aman','dept':'CS','cgpa':2.98},
    {'id':'DBU1500015','name':'mohammed','dept':'DS','cgpa':3.99},
    {'id':'DBU1500014','name':'haymanot','dept':'DS','cgpa':2.18},
]

In [81]:
def bubble_sort_by_id(data):
    data=data.copy()
    n=len(data)
    for i in range(n):
     for j in range(0,n-i-1):
        if data[j]['id'] > data[j+1]['id']:
          data[j],data[j+1]=data[j+1],data[j]
    return data

bubble_sort_by_id(students )

[{'id': 'DBU1500001', 'name': 'Dawit', 'dept': 'DS', 'cgpa': 3.34},
 {'id': 'DBU1500002', 'name': 'Abrham', 'dept': 'CS', 'cgpa': 3.12},
 {'id': 'DBU1500003', 'name': 'abebaw', 'dept': 'DS', 'cgpa': 2.74},
 {'id': 'DBU1500004', 'name': 'Rahel', 'dept': 'CS', 'cgpa': 3.1},
 {'id': 'DBU1500005', 'name': 'wende', 'dept': 'DS', 'cgpa': 3.34},
 {'id': 'DBU1500006', 'name': 'Selam', 'dept': 'DS', 'cgpa': 3.9},
 {'id': 'DBU1500007', 'name': 'Mestawet', 'dept': 'CS', 'cgpa': 3.45},
 {'id': 'DBU1500008', 'name': 'Hana', 'dept': 'DS', 'cgpa': 2.88},
 {'id': 'DBU1500009', 'name': 'Binyam', 'dept': 'CS', 'cgpa': 3.67},
 {'id': 'DBU1500010', 'name': 'hirut', 'dept': 'DS', 'cgpa': 3.25},
 {'id': 'DBU1500011', 'name': 'bereket', 'dept': 'DS', 'cgpa': 3.9},
 {'id': 'DBU1500012', 'name': 'aman', 'dept': 'CS', 'cgpa': 2.98},
 {'id': 'DBU1500013', 'name': 'youlian', 'dept': 'CS', 'cgpa': 3.8},
 {'id': 'DBU1500014', 'name': 'haymanot', 'dept': 'DS', 'cgpa': 2.18},
 {'id': 'DBU1500015', 'name': 'mohammed', 'dept': 'DS', 'cgpa': 3.99},
 {'id': 'DBU1500016', 'name': 'surafel', 'dept': 'DS', 'cgpa': 2.9}]

In [83]:
def insertion_sort_by_name(data):
    data=data.copy()
    for i in range(1,len(data)):
        key_item=data[i]
        j=i-1
        while j>=0 and key_item['name'].lower () < data[j]['name'].lower():
            data[j+1]=data[j]
            j=j-1
            data[j+1]=key_item
    return data
insertion_sort_by_name(students)

[{'id': 'DBU1500003', 'name': 'abebaw', 'dept': 'DS', 'cgpa': 2.74},
 {'id': 'DBU1500002', 'name': 'Abrham', 'dept': 'CS', 'cgpa': 3.12},
 {'id': 'DBU1500012', 'name': 'aman', 'dept': 'CS', 'cgpa': 2.98},
 {'id': 'DBU1500011', 'name': 'bereket', 'dept': 'DS', 'cgpa': 3.9},
 {'id': 'DBU1500009', 'name': 'Binyam', 'dept': 'CS', 'cgpa': 3.67},
 {'id': 'DBU1500001', 'name': 'Dawit', 'dept': 'DS', 'cgpa': 3.34},
 {'id': 'DBU1500008', 'name': 'Hana', 'dept': 'DS', 'cgpa': 2.88},
 {'id': 'DBU1500014', 'name': 'haymanot', 'dept': 'DS', 'cgpa': 2.18},
 {'id': 'DBU1500010', 'name': 'hirut', 'dept': 'DS', 'cgpa': 3.25},
 {'id': 'DBU1500007', 'name': 'Mestawet', 'dept': 'CS', 'cgpa': 3.45},
 {'id': 'DBU1500015', 'name': 'mohammed', 'dept': 'DS', 'cgpa': 3.99},
 {'id': 'DBU1500004', 'name': 'Rahel', 'dept': 'CS', 'cgpa': 3.1},
 {'id': 'DBU1500006', 'name': 'Selam', 'dept': 'DS', 'cgpa': 3.9},
 {'id': 'DBU1500016', 'name': 'surafel', 'dept': 'DS', 'cgpa': 2.9},
 {'id': 'DBU1500005', 'name': 'wende', 'dept': 'DS', 'cgpa': 3.34},
 {'id': 'DBU1500013', 'name': 'youlian', 'dept': 'CS', 'cgpa': 3.8}]

In [85]:
def selection_sort_by_cgpa(data):
     data=data.copy()
     n=len(data)
     for i in range(n):
        max_index=i
        for j in range(i+1,n):
            if data[j]['cgpa']>data[max_index]['cgpa']:
                max_index=j
                data[i],data[max_index]=data[max_index],data[i]
     return data           
selection_sort_by_cgpa(students)

[{'id': 'DBU1500015', 'name': 'mohammed', 'dept': 'DS', 'cgpa': 3.99},
 {'id': 'DBU1500013', 'name': 'youlian', 'dept': 'CS', 'cgpa': 3.8},
 {'id': 'DBU1500011', 'name': 'bereket', 'dept': 'DS', 'cgpa': 3.9},
 {'id': 'DBU1500006', 'name': 'Selam', 'dept': 'DS', 'cgpa': 3.9},
 {'id': 'DBU1500007', 'name': 'Mestawet', 'dept': 'CS', 'cgpa': 3.45},
 {'id': 'DBU1500010', 'name': 'hirut', 'dept': 'DS', 'cgpa': 3.25},
 {'id': 'DBU1500005', 'name': 'wende', 'dept': 'DS', 'cgpa': 3.34},
 {'id': 'DBU1500009', 'name': 'Binyam', 'dept': 'CS', 'cgpa': 3.67},
 {'id': 'DBU1500002', 'name': 'Abrham', 'dept': 'CS', 'cgpa': 3.12},
 {'id': 'DBU1500012', 'name': 'aman', 'dept': 'CS', 'cgpa': 2.98},
 {'id': 'DBU1500016', 'name': 'surafel', 'dept': 'DS', 'cgpa': 2.9},
 {'id': 'DBU1500001', 'name': 'Dawit', 'dept': 'DS', 'cgpa': 3.34},
 {'id': 'DBU1500008', 'name': 'Hana', 'dept': 'DS', 'cgpa': 2.88},
 {'id': 'DBU1500004', 'name': 'Rahel', 'dept': 'CS', 'cgpa': 3.1},
 {'id': 'DBU1500003', 'name': 'abebaw', 'dept': 'DS', 'cgpa': 2.74},
 {'id': 'DBU1500014', 'name': 'haymanot', 'dept': 'DS', 'cgpa': 2.18}]

compare the performanceof each algorithm you used in the implementation

compare performance


bubble sort =0(n**2) simple but not efficient for large data set

insertion sort =0(n**2) perform well on small or nearly sorted data set

 selection sort = 0(n**2) easy to implement but nor efficient for large data set

###advantage and dis advantage of each sorted types of data

1.bubble sort

advantage: very easy to understand and implement

disadvantage: poor performance on large data set

2.insertion sort

advantage:efficient small or already sorted list

disadvantage:not efficient the data is reversed order

3.selection sort

advantage:fewer swaps compared to bubble sort

disadvantage:always 0(n**2) not suitable for large data set



WENDESEN TESHOME  1501521   DATA SCIENSE  wendesen12